.cards {
    padding-top: 20px; 
    padding-bottom: 30px;

    &__body{
      @include media('min', 'descktop') {
        display: flex;
      }
    }

    &__sub-body{
      flex-grow: 1;

      @include media('min', 'descktop') {
        margin-left: 20px;
      }
    }

    &__item {
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 1px solid;

      &:not(:last-child){
        margin-bottom: 15px;
      }
    }

    &__logo {
      margin-right: auto; 
      margin-left: auto;
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 20px;

      font-family: 'Open Sans', sans-serif;
      font-size: 21px;

      @include media('max', 'descktop'){
        text-align: center;
      }

      @include media('min', 'tablet'){
        font-size: 30px;
      }
    }

    &__info-wrap {
        margin-bottom: 20px;
    }

    &__info--large {
        font-size: 24px;
        line-height: 1.5;
    }

    &__button-link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 130px;
      height: 45px;
      margin-left: auto;
      margin-bottom: 20px;
      border: 0;
      border-radius: 7px;
      box-shadow: 0px 2px 4px 1px rgba(186, 126, 194, 0.86);
          -webkit-box-shadow: 0px 2px 4px 1px rgba(186, 126, 194, 0.86);
          -moz-box-shadow: 0px 2px 4px 1px rgba(186, 126, 194, 0.86);

      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      line-height: 1.5;
      text-decoration: none;
      background-image: $button-bgd-color;
      color: $button-text-color;

      @include media('within', 'mobile'){
        margin-right: auto;
      }
    }

    &__content{
      @include media('min', 'tablet'){
        display: flex;
        justify-content: space-around;
      }

      @include media('min', 'descktop'){
        justify-content: space-between;
      }
    }
}  

    



