.footer {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: $accent-text-color;

    &__list {
      color: $primary-text-color;
      border-top: 4px solid $accent-text-color;
      padding-top: 10px;
      padding-bottom: 25px;

      @include media('min', 'tablet'){
        display: flex;
        justify-content: space-around;

        text-align: center;
      }
    }
    
    &__item {
      font-size: 18px;
      font-weight: 700;

      @include media('within', 'mobile'){
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      @include media('min', 'tablet'){
        width: 176px;

        font-size: 15px;
        color: $footer-text-color;
      }
    }

    &__link {
      color: $footer-text-color;

      &:hover,
      &:focus {
        color: #6FA645;
      }
    }

    &__sub-list{
      padding-top: 5px;

      @include media('within', 'mobile'){
        margin-left: 18px;
      }

      @include media('min', 'tablet'){
        padding-top: 15px;

        text-align: center;
      }
    }

    &__sub-item{
      font-size: 20px;
      font-weight: 400;

      @include media('min', 'tablet'){
        font-size: 16px;
      }
    }

    &__text {
        font-size: 9px;
    }

    &__info {
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 15px;

        border-top: 2px solid #909292;

        font-size: 16px;
        text-align: justify;    
    }

}