.footer {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: $accent-text-color;

    &__list {
        margin-bottom: 15px;
        color: $primary-text-color;
        font-size: 18px;
        font-weight: 700;

        &:first-of-type {
            border-top: 4px solid $accent-text-color;
            padding-top: 10px;
        }
    }

    &__item {
        padding-left: 18px;
        padding-right: 18px;

        font-size: 20px;
        font-weight: 400;
    }

    &__text {
        font-size: 9px;
    }

    &__info {
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 15px;

        border-top: 2px solid #909292;

        font-size: 16px;
        text-align: justify;    
    }

}