.hero{
  padding-bottom: 10px;

  font-family: 'Open Sans', sans-serif;
  text-align: center;

  &__title{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;

    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;

    padding-bottom: 10px;
    border-bottom: 2px solid $primary-border-color;

    @include media('min', 'tablet'){
      font-size: 23px;
    }
  }
}