.stt-button{
  position: fixed;
  right: 10%;
  bottom: 10%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid rgba(119, 40, 133, 1);

  color: rgba(119, 40, 133, 1);
  transition: opacity 500ms 0s linear;

  &__compact-up{
    width: 40px;
    height: 40px;
  }

  &--hidden{
    opacity: 0;
    pointer-events: none;
  }
}
